Repository HPI-Information-Systems/snowman, pull requests merged in 2021-04, with the labels that each got.

#135 Refactor/generic drag'n drop helper
  app/src/store/reducers/BenchmarkConfiguratorReducer.ts
  app/src/store/reducers/IntersectionReducer.ts
  app/src/types/ObjectWithId.ts
  app/src/utils/dragNDropHelpers.ts
  app/src/utils/experimentsHelpers.ts
Labels: app, refactoring

#134 Bugfix/remove selected matching solutions
  app/src/structs/viewMetaInfoCollection.ts
  app/src/utils/optionReminders.ts
Labels: app, bug, refactoring

#150 Remove edit functionality
  app/src/api/apis/ExperimentsApi.ts
  docs/api_specification.yaml
  wrapper/assets/api_specification.yaml
  wrapper/src/api/providers/experiment/experimentProvider.spec.ts
  wrapper/src/api/providers/experiment/experimentProvider/experimentProvider.ts
  wrapper/src/api/providers/experiment/experimentProvider/util/checks.ts
  wrapper/src/api/server/controllers/ExperimentsController.ts
  wrapper/src/api/server/services/ExperimentsService.ts
Labels: api, refactoring

#163 Support basic similarity functions + thresholds in backend
  app/src/api/models/SimilarityThresholdFunction.ts
  app/src/api/models/SimilarityThresholdFunctionOperator.ts
  app/src/api/models/SimilarityThresholdFunctionUnaryOperator.ts
  app/src/api/models/SimilarityThresholdFunctionValues.ts
  app/src/api/models/index.ts
  docs/api_specification.yaml
  docs/dev_setup/contrib-knowledge.md
  docs/dev_setup/introduction.md
  wrapper/.npmrc
  wrapper/assets/api_specification.yaml
  wrapper/package-lock.json
  wrapper/package.json
  wrapper/src/api/database/schemas/experiment.ts
  wrapper/src/api/database/schemas/migrations/v4.ts
  wrapper/src/api/database/table/deleter.ts
  wrapper/src/api/database/table/getter.ts
  wrapper/src/api/database/table/upserter.ts
  wrapper/src/api/database/tools/escapeColumnNames.ts
  wrapper/src/api/providers/benchmark/benchmarkProvider.spec.ts
  wrapper/src/api/providers/benchmark/benchmarkProvider.ts
  wrapper/src/api/providers/benchmark/idsToRecords/withTable.ts
  wrapper/src/api/providers/benchmark/intersection/base.ts
  wrapper/src/api/providers/benchmark/intersection/cache.ts
  wrapper/src/api/providers/benchmark/intersection/cachedSubclustering.ts
  wrapper/src/api/providers/benchmark/intersection/calculatePairs/1Negative.ts
  wrapper/src/api/providers/benchmark/intersection/calculatePairs/manyNegative.ts
  wrapper/src/api/providers/benchmark/intersection/clusters.ts
  wrapper/src/api/providers/benchmark/intersection/counts.ts
  wrapper/src/api/providers/benchmark/intersection/queries.ts
  wrapper/src/api/providers/benchmark/intersection/test/intersection.spec.ts
  wrapper/src/api/providers/dataset/datasetProvider.spec.ts
  wrapper/src/api/providers/dataset/file/getter.ts
  wrapper/src/api/providers/dataset/test/assertFilesMatch.ts
  wrapper/src/api/providers/experiment/experimentProvider.spec.ts
  wrapper/src/api/providers/experiment/experimentProvider.ts
  wrapper/src/api/providers/experiment/file/experimentInserter.ts
  wrapper/src/api/providers/experiment/file/getter.ts
  wrapper/src/api/providers/experiment/file/rawGetter.ts
  wrapper/src/api/providers/experiment/file/similarityGetter.ts
  wrapper/src/api/providers/similarityThresholds/similarityThresholdsProvider.spec.ts
  wrapper/src/api/providers/similarityThresholds/similarityThresholdsProvider.ts
  wrapper/src/api/providers/similarityThresholds/util/expressionToFunction.ts
  wrapper/src/api/providers/similarityThresholds/util/functionToExpression.ts
  wrapper/src/api/server/services/BenchmarkService.ts
  wrapper/src/api/server/services/ExperimentsService.ts
  wrapper/src/api/server/types/SimilarityThresholdFunction.ts
  wrapper/src/api/server/types/SimilarityThresholdFunctionOperator.ts
  wrapper/src/api/server/types/SimilarityThresholdFunctionUnaryOperator.ts
  wrapper/src/api/server/types/SimilarityThresholdFunctionValues.ts
  wrapper/src/api/server/types/index.ts
  wrapper/src/api/tools/cache/base.ts
  wrapper/src/api/tools/cache/partiallySorted.spec.ts
  wrapper/src/api/tools/cache/partiallySorted.ts
  wrapper/src/api/tools/cache/sorted.spec.ts
  wrapper/src/api/tools/cache/sorted.ts
  wrapper/src/api/tools/getSimilarity.ts
  wrapper/src/api/tools/types.ts
Labels: api, enhancement
