Repository HPI-Information-Systems/snowman, pull requests merged in 2021-03, with the labels that each got.

#52 Feature/automatic database migration
  README.md
  docs/basic_usage/datasets.md
  docs/basic_usage/experiments.md
  docs/basic_usage/introduction.md
  docs/basic_usage/matching_solutions.md
  docs/basic_usage/workflow.md
  docs/contributing/knowledge.md
  docs/dev_setup/introduction.md
  docs/index.md
  wrapper/src/api/database/schemas/index.ts
  wrapper/src/api/database/schemas/migration.spec.ts
  wrapper/src/api/database/schemas/schemaVersion.ts
  wrapper/src/api/database/schemas/v0/dataset.ts
  wrapper/src/api/database/schemas/v0/experiment.ts
  wrapper/src/api/database/schemas/v0/index.ts
  wrapper/src/api/database/schemas/v0/meta.ts
  wrapper/src/api/database/schemas/v0/migration.ts
  wrapper/src/api/database/setup/install.ts
  wrapper/src/api/database/setup/setup.ts
  wrapper/src/api/database/tools/types.ts
  wrapper/src/api/providers/algorithm/algorithmProvider.ts
  wrapper/src/api/providers/benchmark/benchmarkProvider/helper/evaluator/queries.ts
  wrapper/src/api/providers/benchmark/benchmarkProvider/helper/idsToRecords/index.ts
  wrapper/src/api/providers/benchmark/benchmarkProvider/helper/idsToRecords/withTable.ts
  wrapper/src/api/providers/dataset/datasetProvider/deleter.ts
  wrapper/src/api/providers/dataset/datasetProvider/file/getter.ts
  wrapper/src/api/providers/dataset/datasetProvider/file/inserter.ts
  wrapper/src/api/providers/dataset/datasetProvider/queries.ts
  wrapper/src/api/providers/dataset/datasetProvider/util/checks.ts
  wrapper/src/api/providers/dataset/datasetProvider/util/idMapper.ts
  wrapper/src/api/providers/experiment/experimentProvider.spec.ts
  wrapper/src/api/providers/experiment/experimentProvider/experimentProvider.ts
  wrapper/src/api/providers/experiment/experimentProvider/file/experimentInserter.ts
  wrapper/src/api/providers/experiment/experimentProvider/file/getter.ts
  wrapper/src/api/providers/experiment/experimentProvider/queries.ts
  wrapper/src/api/tools/cli.ts
Labels: api, enhancement

#59 Feature/highlight active page
  app/src/components/SideMenu/SideMenu.View.tsx
  app/src/components/SideMenu/SideMenu.tsx
  app/src/components/SideMenu/SideMenuProps.ts
  app/src/utils/pathHandlers.ts
Labels: app

#60 Bugfix/double error message
  app/src/utils/requestHandler.ts
Labels: app

#61 Feature/make experiments editable
  app/src/components/AddExperimentDialog/AddExperimentDialog.tsx
  app/src/components/AddFab/AddExperimentFab.tsx
  app/src/components/DatasetDialog/DatasetDialog.View.tsx
  app/src/components/DatasetDialog/DatasetDialogStyles.css
  app/src/components/ExperimentDialog/ExperimentDialog.View.tsx
  app/src/components/ExperimentDialog/ExperimentDialog.tsx
  app/src/components/ExperimentDialog/ExperimentDialogProps.ts
  app/src/components/ExperimentDialog/ExperimentDialogStyles.css
  app/src/components/FileInput/FileInput.tsx
  app/src/pages/ExperimentsPage/ExperimentsPage.View.tsx
  app/src/pages/ExperimentsPage/ExperimentsPage.tsx
  app/src/pages/ExperimentsPage/ExperimentsPageProps.ts
  app/src/store/actions/AddExperimentDialogStoreActions.ts
  app/src/store/actions/AlgorithmDialogStoreActions.ts
  app/src/store/actions/DatasetDialogStoreActions.ts
  app/src/store/actions/ExperimentDialogStoreActions.ts
  app/src/store/actions/actionTypes.ts
  app/src/store/messages.ts
  app/src/store/models.ts
  app/src/store/reducers/ExperimentDialogReducer.ts
  app/src/store/reducers/rootReducer.ts
  app/src/utils/statusMessages.ts
Labels: app

#69 Feature/proprietary experiment formats
  app/src/api/apis/ExperimentsApi.ts
  app/src/pages/DatasetsPage/DatasetsPage.tsx
  docs/api_specification.yaml
  docs/basic_usage/experiments.md
  wrapper/assets/api_specification.yaml
  wrapper/src/api/providers/experiment/experimentProvider/file/formats/bHana.ts
  wrapper/src/api/providers/experiment/experimentProvider/file/formats/bPies.ts
  wrapper/src/api/providers/experiment/experimentProvider/file/index.ts
Labels: api, enhancement

#74 Bugfix/fix router rendering
  app/craco.config.js
  app/package-lock.json
  app/package.json
  app/scripts/post-build.js
  app/src/app/App.View.tsx
  app/src/app/App.tsx
  app/src/app/AppProps.ts
  app/src/components/NextFab/NextFab.tsx
  app/src/components/SideMenu/SideMenu.View.tsx
  app/src/components/SideMenu/SideMenu.tsx
  app/src/components/SideMenu/SideMenuProps.ts
  app/src/pages/AlgorithmsPage/AlgorithmsPage.tsx
  app/src/pages/DatasetsPage/DatasetsPage.tsx
  app/src/pages/NotFoundPage/NotFoundPage.tsx
  app/src/store/actions/AddExperimentDialogStoreActions.ts
  app/src/store/actions/AlgorithmDialogStoreActions.ts
  app/src/store/actions/AlgorithmsStoreActions.ts
  app/src/store/actions/DatasetDialogStoreActions.ts
  app/src/store/actions/DatasetsStoreActions.ts
  app/src/store/actions/MetricsStoreActions.ts
  app/src/store/actions/RouterStoreActions.ts
  app/src/store/actions/actionTypes.ts
  app/src/store/models.ts
  app/src/store/reducers/AddExperimentDialogReducer.ts
  app/src/store/reducers/DatasetsReducer.ts
  app/src/store/reducers/ExperimentsReducer.ts
  app/src/store/reducers/RenderLogicReducer.ts
  app/src/store/reducers/rootReducer.ts
  app/src/store/store.ts
  app/src/structs/constants.ts
  app/src/structs/statusMessages.ts
  app/src/structs/viewMetaInfoCollection.ts
  app/src/types/MenuCategories.ts
  app/src/types/ViewIDs.ts
  app/src/types/ViewMetaInformation.ts
  app/src/utils/history.ts
  app/src/utils/navigationGuards.ts
  app/src/utils/pathHandlers.ts
  app/src/utils/requestHandler.ts
  app/src/utils/viewMetaInfoHandlers.ts
Labels: app, bug

#92 Release v1.1.3: Do not require column label for Sigmod format
  docs/basic_usage/experiments.md
  wrapper/src/api/providers/experiment/experimentProvider/file/formats/sigmod2021.ts
Labels: api

#101 Add SoftKPIs in Frontend
  app/package-lock.json
  app/src/components/AlgorithmCard/AlgorithmCard.View.tsx
  app/src/components/AlgorithmCard/AlgorithmCardProps.ts
  app/src/components/AlgorithmDialog/AlgorithmDialog.View.tsx
  app/src/components/AlgorithmDialog/AlgorithmDialog.css
  app/src/components/AlgorithmDialog/AlgorithmDialog.tsx
  app/src/components/AlgorithmDialog/AlgorithmDialogProps.ts
  app/src/components/ExperimentCard/ExperimentCard.tsx
  app/src/components/ExperimentCard/ExperimentCardProps.ts
  app/src/components/ExperimentDialog/ExperimentDialog.View.tsx
  app/src/components/ExperimentDialog/ExperimentDialog.tsx
  app/src/components/ExperimentDialog/ExperimentDialogProps.ts
  app/src/components/ExperimentDialog/ExperimentDialogStyles.css
  app/src/components/ExperimentDroppable/ExperimentDroppable.View.tsx
  app/src/components/SelectableInput/SelectableInput.View.tsx
  app/src/pages/NMetricsPage/NMetricsPage.View.tsx
  app/src/pages/NMetricsPage/NMetricsPage.tsx
  app/src/pages/NMetricsPage/NMetricsPageProps.ts
  app/src/store/actions/AlgorithmDialogStoreActions.ts
  app/src/store/actions/BinaryMetricsStoreActions.ts
  app/src/store/actions/CommonMetricsActions.ts
  app/src/store/actions/ExperimentDialogStoreActions.ts
  app/src/store/actions/NMetricsPageActions.ts
  app/src/store/actions/actionTypes.ts
  app/src/store/messages.ts
  app/src/store/models.ts
  app/src/store/reducers/AlgorithmDialogReducer.ts
  app/src/store/reducers/BenchmarkConfiguratorReducer.ts
  app/src/store/reducers/ExperimentDialogReducer.ts
  app/src/store/reducers/NMetricsReducer.ts
  app/src/store/reducers/rootReducer.ts
  app/src/structs/statusMessages.ts
  app/src/structs/viewMetaInfoCollection.ts
  app/src/utils/optionReminders.ts
  app/src/utils/questionHelpers.ts
Labels: app, enhancement

#128 Refactor/entity cards
  app/src/components/AlgorithmCard/AlgorithmCard.View.tsx
  app/src/components/DatasetCard/DatasetCard.View.tsx
  app/src/components/DatasetCard/DatasetCard.tsx
  app/src/components/DatasetCard/DatasetCardProps.ts
  app/src/components/ExperimentCard/ExperimentCard.View.tsx
  app/src/components/ExperimentCard/ExperimentCard.tsx
  app/src/components/ExperimentCard/ExperimentCardProps.ts
  app/src/components/ExperimentDroppable/ExperimentDroppable.View.tsx
  app/src/components/ExperimentDroppable/ExperimentDroppable.tsx
  app/src/components/ExperimentDroppable/ExperimentDroppableProps.ts
  app/src/pages/DatasetsPage/DatasetsPage.View.tsx
  app/src/pages/DatasetsPage/DatasetsPage.tsx
  app/src/pages/DatasetsPage/DatasetsPageProps.tsx
  app/src/store/actions/DatasetPreviewerActions.ts
  app/src/store/actions/ExperimentPreviewerActions.ts
  app/src/utils/datasetHelper.ts
  app/src/utils/easyActionsFactory.ts
  app/src/utils/experimentsHelpers.ts
Labels: app, refactoring

#133 Fix review selected experiments after changing dataset
  app/src/store/reducers/BenchmarkConfiguratorReducer.ts
Labels: app, bug
